 .u-section-1 {
  background-image: url("/static/error-404/background.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 825px;
}

.u-section-1 .u-image-1 {
  width: 779px;
  height: 559px;
  margin: 50px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  border-style: none;
  align-self: center;
  font-weight: 700;
  font-size: 3rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 50px auto;
  padding: 19px 87px 21px 85px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 517px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 388px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 244px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-bottom: 49px;
    padding-right: 44px;
    padding-bottom: 19px;
    padding-left: 42px;
  }
}