<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Error-404</title>
    <link rel="stylesheet" href="{{url_for('static', filename='error-404/nicepage.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static', filename='error-404/404.css')}}" media="screen">
    <script class="u-script" type="text/javascript" src="{{url_for('static', filename='error-404/jquery.js')}}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{url_for('static', filename='error-404/nicepage.js')}}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "tech-savvy-guy"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="404">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode">
    <section class="u-align-center u-border-9 u-border-black u-clearfix u-image u-section-1" id="sec-3def" data-image-width="1980" data-image-height="1320">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-contain u-image-default u-image-1" src="{{url_for('static', filename='error-404/image.png')}}" alt="" data-image-width="1199" data-image-height="1080">
        <a href="/" class="u-active-grey-75 u-black u-border-none u-btn u-btn-round u-button-style u-custom-font u-font-montserrat u-hover-grey-80 u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">RETURN</a>
      </div>
    </section>
    <script>
      window.Telegram.WebApp.ready()
      window.Telegram.WebApp.expand()
  </script>    
  </body>
</html>
