<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='paint/style.css')}}" />
    <title>Paint</title>
  </head>

  <body>
    <div id="tool-bar" class="tool-bar">
      <div onclick="clear()" class="erase">
        <button type="button" class="erase-button">
          <span class="erase-button-text">Clear</span>
          <span class="erase-button-icon">
            <ion-icon name="trash-outline"></ion-icon>
          </span>
        </button>
      </div>
      <div class="color-border">
        <div class="color">
          <input type="color" id="color" style="visibility: none; display: none;">
          <label for="color" id="brush-color" style="cursor: grab;"><ion-icon name="brush"></ion-icon></label>
          <script>
            var color = document.querySelector("#color");
            var brush = document.getElementById("brush-color");

            color.addEventListener('input', function(e) {
              brush.style.color = color.value;
            })
          </script>
        </div>
      </div>
      <div class="stroke">
        <div class="slider">
          <input id="slider" type="range" min="5" max="50" value="10" >
        </div>
        <div id="stroke-width" class="stroke-width">50</div>
      </div>
      <script>
        var slider = document.querySelector("#slider"),
        label = document.querySelector("#stroke-width");
        label.textContent = slider.value;
        slider.style.background = 'linear-gradient(90deg, goldenrod ' + slider.value * 2 + '%, white 0';

        slider.oninput = function() {
          label.textContent = slider.value;
          slider.style.background = 'linear-gradient(90deg, goldenrod ' + slider.value * 2 + '%, white 0';
        }
      </script>
      <div class="save">
        <div class="download">
          <button type="button" class="save-button">
            <span class="save-button-text">Save</span>
            <span class="save-button-icon">
              <ion-icon name="cloud-download-outline"></ion-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="canvas">
      <canvas id="canvas"></canvas>
    </div>
    <script src="{{url_for('static', filename='paint/script.js')}}"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  </body>
</html>