<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR SCANNER</title>
    <link rel="shortcut icon" type="image/svg" href="../static/telegram.svg">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="../static/qrCode/styles.css">
</head>

<body>
    <div class="wrapper">
        <header>QR SCANNER</header>
        <button class="scanButton" onclick="window.Telegram.WebApp.showScanQrPopup('SCAN')">SCAN CODE</button>
    </div>
    <script src="../static/qrCode/script.js"></script>
</body>

</html>
